In [1]:
import requests 
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# Load Data from ME API

collection_name = 'vaxxed_doggos'
responses = []
i = 0
while True:
    url = f"https://api-mainnet.magiceden.dev/v2/collections/{collection_name}/activities?offset={500 * i}&limit=500"
    response = requests.get(url)
    if response.text == '[]':
        break
    else :
        responses.append(response)
        i += 1
json_data = []
for i in range(len(responses)):
    json_data += responses[i].json()

In [3]:
# Load Json data to a dataframe and drop unnecessary columns  

data = pd.DataFrame(json_data)
columns_to_drop = ["signature", "source", "tokenMint" ,"collection" ,"slot", "buyer", "buyerReferral" ,"seller" , "sellerReferral"]
data.drop(columns_to_drop , axis=1, inplace=True)

In [6]:
# Convert Unix timestamp to date & add it to the dataframe

dates = []
for i in range(len(json_data)):
    dates.append(datetime.fromtimestamp(int(json_data[i]['blockTime'])).strftime('%Y-%m-%d'))

data['date'] = dates
# data = data.sort_values(by='blockTime', ascending=True).reset_index(drop=True)
# data.set_index('date', drop=True, append=False, inplace=False, verify_integrity=False)

# EDA

In [7]:
data.shape

(1000, 4)

In [49]:
data.type.describe()

count       1000
unique         5
top       buyNow
freq         535
Name: type, dtype: object

In [23]:
data.type.unique()

array(['buyNow', 'list', 'delist', 'bid', 'cancelBid'], dtype=object)

In [24]:
data.type.value_counts()

buyNow       544
list         288
delist        91
bid           59
cancelBid     18
Name: type, dtype: int64

# Data Preparation

In [ ]:
# Create a time series 

start = datetime.strptime(datetime.fromtimestamp(data.blockTime.min()).strftime('%Y-%m-%d'), '%Y-%m-%d')
end = datetime.strptime(datetime.fromtimestamp(data.blockTime.max()).strftime('%Y-%m-%d'), '%Y-%m-%d')
# date_list = [(start + timedelta(days=i)).strftime('%d-%m-%Y') for i in range(0, (end-start).days+1)]
index = pd.date_range(start, periods=(end-start).days+1, freq='D')
columns = ['Time','Lag']
df = pd.DataFrame(index=index, columns=columns)
df

           Time  Lag
2022-02-05  NaN  NaN
2022-02-06  NaN  NaN
2022-02-07  NaN  NaN
2022-02-08  NaN  NaN
2022-02-09  NaN  NaN
...         ...  ...
2022-04-26  NaN  NaN
2022-04-27  NaN  NaN
2022-04-28  NaN  NaN
2022-04-29  NaN  NaN
2022-04-30  NaN  NaN

[85 rows x 2 columns]

In [32]:
# Preparing the num of sales data

buyNow_data = data.loc[data.type == 'buyNow']

start = datetime.strptime(buyNow_data.date.min(), '%Y-%m-%d')
end = datetime.strptime(buyNow_data.date.max(), '%Y-%m-%d') 


index = pd.date_range(start, periods=(end-start).days+1, freq='D')
columns = ['Sales']
sales_data = pd.DataFrame(index=index, columns=columns)

buyNow_data = buyNow_data.groupby('date').date.count()

for index, value in buyNow_data.items():
    sales_data.loc[index] = value

In [32]:
# Preparing the floor price data
floor_price_data = data.loc[data.type.isin(['buyNow','list'])]
floor_price_data = pd.DataFrame(floor_price_data.groupby('date').price.min())
floor_price_data.rename(columns = {'price':'floor price'}, inplace = True)
# floor_price_data

In [34]:
# Preparing the daily avg sale data

avg_price_data = data.loc[data.type == 'buyNow']
avg_price_data = pd.DataFrame(avg_price_data.groupby('date').price.mean())
avg_price_data.rename(columns = {'price':'avg price'}, inplace = True)
# avg_price_data

# Time series

## Linear Regression